.AboutUsPageHeader {
  font-family: "Bebas Neue";
  color: white;
}

.AboutUsPageHeader h1 {
  position: absolute;
  top: -0.4rem;
  left: 2%;
  font-size: 5rem;
  font-family: "Bebas Neue";
  color: white;
  filter: drop-shadow(0.2rem 0.2rem 0.1rem #000000bd);
}

.AboutUsPageHeader h2 {
  position: absolute;
  top: 15rem;
  left: 5rem;
  width: 50rem;
  font-size: 2rem;
  text-align: center;
  font-family: "Arial Narrow";
  color: white;
  filter: drop-shadow(0.2rem 0.2rem 0.1rem #000000bd);
}

.AboutUsPageHeader h3 {
  position: absolute;
  top: 18rem;
  left: 17rem;
  width: 25rem;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Arial Narrow";
  color: white;
  filter: drop-shadow(0.2rem 0.2rem 0.1rem #000000bd);
}

.AboutUsPageHeader .secondParagraphTitle {
  position: absolute;
  top: 28rem;
  left: 5rem;
  width: 50rem;
  font-size: 2rem;
  text-align: center;
  font-family: "Arial Narrow";
  color: white;
  filter: drop-shadow(0.2rem 0.2rem 0.1rem #000000bd);
}

.AboutUsPageHeader .secondParagraphText {
  position: absolute;
  top: 31rem;
  left: 17rem;
  width: 25rem;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Arial Narrow";
  color: white;
  filter: drop-shadow(0.2rem 0.2rem 0.1rem #000000bd);
}

.AboutUsPageHeader img {
  object-fit: cover;
  width: 100%;
  height: 50rem;
}

.HeaderBackdrop {
  position: absolute;
  background-color: rgba(0, 128, 0, 0.5);
  width: 50%;
  height: 50rem;
  max-width: 60rem;
}

.headerTitle {
  margin-top: 7.4rem;
  margin-left: 4.5rem;
  text-align: left;
}

.AboutUsPageHeader .leftHr {
  position: absolute;
  top: 12rem;
  left: 0;
  width: 34rem;
  height: 0.2rem;
  color: whitesmoke;
  background-color: whitesmoke;
  border-width: 0;
}

.HeaderBackdrop .leftCircle {
  position: absolute;
  top: 11.45rem;
  left: 33rem;
  height: 1.3rem;
  width: 1.3rem;
  background-color: whitesmoke;
  border-radius: 50%;
  display: inline-block;
}

.AboutUsPageHeader .Hr {
  position: absolute;
  top: 26rem;
  right: 0;
  width: 34rem;
  height: 0.2rem;
  color: whitesmoke;
  background-color: whitesmoke;
  border-width: 0;
}

.HeaderBackdrop .Circle {
  position: absolute;
  top: 25.45rem;
  right: 33rem;
  height: 1.3rem;
  width: 1.3rem;
  background-color: whitesmoke;
  border-radius: 50%;
  display: inline-block;
}

.teamTitle {
  text-align: left;
  margin-top: 2rem;
  margin-left: 2rem;
}

@media screen and (max-width: 1200px) {
  .HeaderBackdrop .Circle,
  .AboutUsPageHeader .Hr,
  .AboutUsPageHeader .leftHr {
    visibility: hidden;
  }

  .AboutUsPageHeader h1{
    left: 2rem;
  }

  .AboutUsPageHeader h2{
    left: -10rem;
  }

  .AboutUsPageHeader h3{
    left: 2rem;
  }

  .AboutUsPageHeader .secondParagraphTitle{
    left: -10rem;
  }

  .AboutUsPageHeader .secondParagraphText {
    left: 2rem;
  }
}

@media screen and (max-width: 992px) {
    .HeaderBackdrop {
        width: 100%;
    }
}
