* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;

}

nav ul {
  list-style: none;
  display: flex;
  padding: 10px;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 30rem;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(90, 75, 9, 0.9);
  margin: 2rem;
  background-color: rgb(173, 139, 92);
  border-color: rgb(0, 0, 0);
  border-radius: 1rem;
}

.large_container {
  padding: 5rem;
  box-shadow: 0 2px 4px rgba(90, 75, 9, 0.9);
  background-color: rgb(167, 136, 92);
  border-color: rgb(0, 0, 0);
  border-radius: 1rem;
}

.services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: var(--backgroundBrown);
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(208, 163, 103)
}

.dropdown:hover .dropdown-content {
  display: block;
}